<link href="/style.css" rel="stylesheet">
<div id="content" class="container">
  <ul id="header" class="row" style="margin: 30px 0;">
    <div class="six columns">
      <li><a href="https://robigalia.org/docs.html">Documentation</a></li>
      <li><a href="https://doc.robigalia.org/">API documentation</a></li>
      <li><a href="https://gitlab.com/robigalia">GitLab group/source code</a></li>
    </div>
    <div class="six columns">
      <li><a href="https://sel4.systems">seL4 website</a></li>
      <li><a href="https://robigalia.org/conduct.html">Code of conduct</a></li>
      <li><a href="https://robigalia.org/contact.html">Contact us</a></li>
    </div>
  </ul>
